.gg-play-button-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 32px;
  height: 32px;
  border: 2px solid;
  border-radius: 26px;
  margin-right: 6px;
}

.gg-play-button-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 14px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid;
  top: 7px;
  left: 10px;
}
.gg-play-button-o:hover {
  border-color: #47b2e4; /* Color change on hover */
}
/* ----- pin icon*/
.gg-pin {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px;
}
.gg-pin::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  top: 3px;
  left: 3px;
  border-radius: 40px;
}

.gg-pin:hover {
  border-color: #47b2e4;
}

/* email icon--- */
.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}
.gg-mail:hover {
  background-color: #209dd8;
}

/* phone icon---- */
.gg-smartphone {
  background: linear-gradient(to left, currentColor 5px, transparent 0)
    no-repeat 4px 12px/2px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 20px;
  border: 2px solid;
  border-radius: 2px;
}
.gg-smartphone:hover {
  background-color: #209dd8;
}




/* menu option*/
.gg-menu {
  transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: white;
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px
}
.gg-menu::after {
  top: 6px
}
/* --------------- */
.first-part {
  background: rgba(40, 58, 90, 0.9);
  /* height: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.menu{display: none;}
.navbar {
  display: flex;
  justify-content: space-around;
}
.logo a {
  color: #fff;
  font-size: 44px;
  text-decoration: none;
}
/* .navs {
} */
.navs a {
  /* font-family: "Open Sans", sans-serif; */
  padding: 8px 0 8px 20px;
  display: inline;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.navs a:hover {
  color: #47b2e4;
}

.navs button {
  background: rgba(40, 58, 90, 0.3);

  /* display: inline-block; */
}
.button-1 {
  border-radius: 50px;
  width: 131px;
  height: 44px;
  text-align: center;
  padding: 8px 20px;
  margin-left: 30px;
  color: #fff;
  font-size: 15px;
  border: 2px solid #47b2e4;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.button-1:hover {
  background-color: #47b2e4;
}

/*--------- first-content------- */
.first-content {
  background: rgba(40, 58, 90, 0.9);
  display: flex;
  padding-top: 72px;
  /* padding-bottom: 20px; */
  font-family: "Jost", sans-serif;
}
.first-content-left {
  flex: 1;
  padding-left: 4%;
  padding-right: 4%;
}
.first-content-left h1 {
  /* margin-top:30px; */
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.first-content-left h2 {
  color: rgba(255, 255, 255, 0.6);
  /* margin-bottom: 50px; */
  margin-top: -20px;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
}
.first-content-left-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}
.button-2 {
  border-radius: 50px;
  background: #47b2e4;
  width: 131px;
  height: 44px;
  border: none;
  transition: background-color 0.5s ease;
  text-align: center;
  /* padding: 8px 20px; */
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 25px;
}
.button-2:hover {
  background-color: #209dd8;
}

.span-1 {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.first-content-right {
  flex: 1;
  padding-right: 4%;
  padding-left: 4%;
}

.first-content-right img {
  width: 450px;
  height: 400px;
}
.logo-bar {
  padding-left: 10%;
  padding-right: 10%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #f3f5fa;
}
.logo-bar img {
  max-width: 45%;
  padding-left: 2%;
  padding-right: 2%;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: grayscale(100%) invert(100%);
  transition: filter 0.8s ease;
  margin-top: 10px;
  /* max-width: 100%;  */
}
.logo-bar img:hover {
  filter: grayscale(0%) invert(0%);

  transform: scale(1.1);
}
.second-part {
  padding-bottom: 60px;
  font-family: "Jost", sans-serif;
}

.header-with-line {
  color: rgb(55, 81, 126);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  position: relative; /* Add position: relative to enable positioning of pseudo-element */
  padding-bottom: 15px;
}
.header-with-line::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: rgb(125, 125, 125, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header-with-line::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: rgb(55, 81, 126);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.second-part-div {
  padding-top: 20px;
  display: flex;
  color: rgb(68, 68, 68);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 5%;
  padding-right: 5%;
}
.second-part-left {
  flex: 1;
  padding-right: 1%;
}
.list-icon-better {
  list-style-type: none;
  margin-left: -40px;
}
.list-icon-better li {
  list-style-position: outside;
}
.second-part-right {
  flex: 1;
  padding-left: 1%;
}
.second-part-right p {
  padding-bottom: 16px;
}
.button-3 {
  border-radius: 4px;
  width: 150px;
  height: 44px;
  text-align: center;
  color: #47b2e4;
  background-color: white;
  font-size: 15px;
  border: 2px solid #47b2e4;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.8s ease;
  border-width: 2px;
}

.button-3:hover {
  color: #fff;
  background-color: #47b2e4;
}

.third-part {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(68, 68, 68);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.contact-content {
  display: flex;
}
.third-left {
  width: 41%;
  border-top: 2px solid #47b2e4;
  border-bottom: 2px solid #47b2e4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 12px;
  margin-right: 12px;
}
.third-right {
  width: auto;
  flex: 1;
  border-top: 2px solid #47b2e4;
  border-bottom: 2px solid #47b2e4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 12px;
  margin-right: 12px;
}
.info-cell {
  display: flex;
  align-items: center;
  /* padding-right:20px; */
  padding-left: 20px;
}
.details {
  text-align: left;
}
.details h3 {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  margin-bottom: 5px;
}
.details p {
  color: rgb(97, 130, 186);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 20px;
}

.map img {
  max-width: 450px;
  width: 300px;
}
@media (min-width: 1135px) and (max-width: 2000px) {
  .map img {
    max-width: 450px;
    width: 400px;
  }
}

.third-right form {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  text-align: left;
}

label {
  display: block;
  padding-bottom: 8px;
}
.form-fix {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}


.fix-button{
  margin-top: 20px;
  display: flex;
justify-content: center;
padding-bottom: 20px;
}
input {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.name-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* flex-wrap: wrap */
}
.name-email input {
  /* width: 285px; */
  height: 50px;
}
textarea{
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 1150px) {
  .first-content-right img{
    width: 400px;
    height: 350px;
    padding-bottom: 30px;
      }
    
}

@media (min-width: 990px) and (max-width: 768px){
  .first-content-right{
height: 40%;
  }

  .logo-bar {
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures equal space between images in each row */
}

.logo-bar img {
    max-width: calc(33.3333% - 4%); /* Adjusted to accommodate padding; 3 images in a row */
    margin-bottom: 20px;
}

}

@media screen and (max-width: 990px) {
  .navs{
    display:none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .menu{
    display:flex;
    align-items: center;
    margin-right: 10%;
  }
  .logo a {
    margin-left: 25%;

  }
  .first-content{
    flex-direction: column;
    align-items: center;
    
  }
  .first-content-left {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    order: 1;
    padding-bottom: 50px;
    margin-top: -50px;
  }
  .first-content-left-buttons {
    justify-content: center;
  }
  .second-part-div {
    flex-direction: column;
  }
  .button-3 {
    width:130px;
  }
  .contact-content{
    flex-direction: column;
  }
  .third-left {
    width: auto;
    flex:1;
    padding-bottom: 30px;
  }
  .info-cell{
    /* justify-content: center; */
  }
  .third-right {
    flex:1;
    margin-top: 30px;
  }
  .map img {
    width:100%;
  }
}
